
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap-vue/src/index.scss';

$material-design-icons-font-path: '../../node_modules/material-design-icons-iconfont/dist/fonts/';
@import '../../node_modules/material-design-icons-iconfont/dist/material-design-icons.scss';
@import "../../node_modules/vuetify/dist/vuetify.min.css";
@import "../../node_modules/dayspan-vuetify/dist/lib/dayspan-vuetify.min.css";

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f5f5f5;
}

