/*
Error: Can't extend %far %fa-var-calendar-alt: can't extend nested selectors
        on line 8 of icons.scss

3: @import "../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
4: 
5: 
6: // <i class="far fa-calendar-alt"></i>
7: .icon-calendar {
8:   @extend %far %fa-var-calendar-alt;
9: }

Backtrace:
icons.scss:8
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/selector/comma_sequence.rb:108:in `block in populate_extends'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/selector/comma_sequence.rb:106:in `each'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/selector/comma_sequence.rb:106:in `populate_extends'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:115:in `visit_extend'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `block in visit_children_without_parent'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `map'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `visit_children_without_parent'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:32:in `block in visit_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:54:in `with_parent'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:31:in `visit_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:185:in `visit_rule'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `block in visit_children_without_parent'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `map'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:43:in `visit_children_without_parent'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:32:in `block in visit_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:54:in `with_parent'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:31:in `visit_children'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:64:in `visit_root'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:23:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:24:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/visitors/cssize.rb:6:in `visit'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:38:in `css_tree'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/var/lib/gems/2.5.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/var/lib/gems/2.5.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Can't extend %far %fa-var-calendar-alt: can't extend nested selectors\A         on line 8 of icons.scss\A \A 3: @import \"../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome\";\A 4: \A 5: \A 6: // <i class=\"far fa-calendar-alt\"></i>\A 7: .icon-calendar {\A 8:   @extend %far %fa-var-calendar-alt;\A 9: }"; }
